/**
    Apply global styles to the project
*/
@layer base {
  :root {
    /* Define CSS variables for all the colors from tailwind.config.js */
    --color-primary: #E7FFC9;
    --color-secondary: #4C721D;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light-gray: #F5F6F6;
    --color-primary-green: #D3FEA5;
    --color-dark-green: #050F00;
    --color-dark-green-80: rgba(5, 15, 0, 0.8);
    --color-current: currentColor;
    --color-transparent: transparent;
    
    /* Default section colors */
    --section-bg-color: var(--color-white);
    --section-text-color: var(--color-black);
  }
  
  html {
    @apply font-sans text-black antialiased;
  }
}

/**
    Apply styles to elements
*/
@layer components {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    @apply mb-4 last:mb-0;
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    @apply font-bold;
  }

  /* h1 - 96px - line-height: 100% */
  h1, .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-6xl leading-none;
  }

  /* h2 - 60px - line-height: 110% */
  h2, .h2 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-5xl leading-[1.1];
  }

  /* h3 - 48px - line-height: 100% */
  h3, .h3 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-4xl leading-none;
  }

  /* h4 - 34px - line-height: 110% */
  h4, .h4 {
    @apply text-xl lg:text-2xl xl:text-3xl leading-[1.1];
  }

  /* h5 - 24px - line-height: 130% */
  h5, .h5 {
    @apply text-lg lg:text-xl xl:text-2xl leading-[1.3];
  }

  /* h6 - 20px - line-height: 120% */
  h6, .h6 {
    @apply text-md xl:text-xl leading-[1.2];
  }

  /* Default paragraph styling */
  p, a, li {
    @apply text-lg leading-[1.5] mb-4 last:mb-0;
  }

  /* Typography utility classes */
  /* Display - 120px - line-height: 100% */
  .display {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-7xl leading-none;
  }

  /* Text heading utility classes */
  .text-h1 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-6xl font-bold leading-none;
  }

  .text-h2 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold leading-[1.1];
  }

  .text-h3 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-4xl font-bold leading-none;
  }

  .text-h4 {
    @apply text-xl lg:text-2xl xl:text-3xl font-bold leading-[1.1];
  }

  .text-h5 {
    @apply text-lg lg:text-xl xl:text-2xl font-bold leading-[1.3];
  }

  .text-h6 {
    @apply text-md xl:text-xl font-bold leading-[1.2];
  }

  /* body 1, subtitle 1, button (large) - 16px */
  /* body 1 - line-height: 150% */
  .body-1 {
    @apply text-lg leading-[1.5];
  }

  /* subtitle 1 - line-height: 150% */
  .subtitle-1 {
    @apply text-lg font-medium leading-[1.5];
  }

  /* button (large) - line-height: 130% */
  .btn-large {
    @apply text-lg leading-[1.3];
  }

  /* body 2, subtitle 2, button (medium) - 14px */
  /* body 2 - line-height: 150% */
  .body-2 {
    @apply text-md leading-[1.5];
  }

  /* subtitle 2 - line-height: 150% */
  .subtitle-2 {
    @apply text-md font-medium leading-[1.5];
  }

  /* button (medium) - line-height: 130% */
  .btn-medium {
    @apply text-md leading-[1.3];
  }

  /* caption 1 - line-height: 130% */
  .caption-1 {
    @apply text-sm leading-[1.3];
  }

  /* button (small) - line-height: 130% */
  .btn-small {
    @apply text-sm leading-[1.3];
  }

  /* overline - 10px - line-height: 130% */
  .overline {
    @apply text-xs uppercase tracking-wider leading-[1.3];
  }

  /* Apply background and text colors from CSS variables */
  .flex-section {
    background-color: var(--section-bg-color);
    color: var(--section-text-color);

    ol, ul {
      @apply ml-6 mb-4 last:mb-0;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }
  }
}

#main.custom-font {
  font-family: var(--custom-font-family);
}

// img {
//   @apply rounded-lg;
// }

// video {
//   @apply rounded-lg;
// }
