table {
  @apply w-full text-left;
}

thead {
  @apply border-b-2 text-xs;
}

th {
  @apply font-normal;
}

thead {
  @apply border-secondary bg-secondary font-bold;
}
tbody th {
  @apply font-bold;
}
tbody tr {
  @apply bg-secondary;
}
td, th {
  @apply border-2 border-black;
}
tbody tr:nth-child(even) {
  @apply bg-primary;
}
